@import url("https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css");

html {
  font-size: 1vw;
  table-layout: fixed;
}

@media (max-width: 768px) {
  html {
    font-size: 2vw;
  }
  table {
    width: 50%;
  }
}

#data-container {
  text-align: center; 
}

#data-container table {
  margin: 0 auto; /
}

.body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.text {
  margin-top: 8%;
  margin-bottom: 5%;
  font-style: italic;
}

.table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  display: block;
}

footer {
  background-color: #222;
  color: #f8f9fa;
  padding: 1%;
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 0;
}
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #4b4b4b;
  color: #f2f2f2;
  font-weight: bold;
  text-align: center;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #636363;
  transform: scale(1,1);
}
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
