@import url("https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css");

html {
  font-size: 1vw;
}

@media (max-width: 767px) {
  html {
    font-size: 2vw;
  }
}

.text {
  margin-top: 8%;
  margin-bottom: 5%;
  font-style: italic;
}

.table {
  margin-bottom: 5%;
  margin-top: 5%;
}

footer {
  background-color: #222;
  color: #f8f9fa;
  padding-top: 5%;
  position: relative;
}
