@import url("https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css");
@import url("https://fonts.googleapis.com/css2?family=Freeman&display=swap");

html {
  font-size: 1vw;
}

/* Responsiveness */
@media (max-width: 768px) {
  html {
    font-size: 2vw;
  }
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  header h1 {
    margin-bottom: 10px;
  }
  header a,
  header button {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  main {
    padding: 5px;
  }
  #routesTableWrapper {
    width: 100%;
    overflow-x: auto;
  }
  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .card-header {
    font-weight: bold;
    color: #4b4b4b;
    margin-bottom: 10px;
  }
  .card-body {
    display: flex;
    flex-direction: column;
  }
  .card-body > div {
    margin-bottom: 5px;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-direction: column;
  }
  .edit-btn,
  .delete-btn {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .edit-btn {
    background-color: #4caf50;
    color: white;
  }
  .delete-btn {
    background-color: #f44336;
    color: white;
  }
  .edit-btn span,
  .delete-btn span {
    display: none;
  }
  .edit-btn {
    background-image: url("../Image/pencil.png"); /* Adjust path as needed */
  }
  .delete-btn {
    background-image: url("../Image/x.png"); /* Adjust path as needed */
  }
  .container {
    padding: 5px;
  }
  #routesTable td .button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px; /* Jarak antara tombol */
    width: 100%;
    padding: 0 10px; /* Tambahkan padding untuk memberi jarak dari tepi kolom */
  }

  #routesTable td .edit-btn,
  #routesTable td .delete-btn {
    width: 100%; /* Tombol akan mengisi seluruh lebar kolom */
    padding: 10px;
    font-size: 14px;
    text-align: center;
  }
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Freeman", sans-serif;
  padding: 0 15px;
  overflow-x: hidden;
  padding: 0;
}

.container {
  padding: 20px;
}

header {
  margin-top: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

header a,
header button {
  font-family: "Freeman", sans-serif;
}

main {
  margin-top: 0%;
  flex: 1;
  padding: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #1e1e1e;
  border-radius: 5px;
  font-size: 16px;
  color: #1e1e1e;
}

input[type="text"]:focus {
  border-color: #1e1e1e;
  outline: none;
  transition: border-color 0.3s;
}

#routesTableWrapper {
  width: 100%;
  overflow-x: auto;
}

#routesTable {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  table-layout: auto;
}

#routesTable th,
#routesTable td {
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  word-wrap: break-word;
}

#routesTable th {
  background-color: #4b4b4b;
  color: #ddd;
  font-weight: bold;
}

#routesTable td {
  border: 1px solid #ddd;
}

#routesTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#routesTable tr:hover {
  background-color: #636363;
  color: #f2f2f2;
  transition: 0.3s;
}

button {
  font-family: "Freeman", sans-serif;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: #ddd;
  color: #333;
}

#addRouteBtn {
  margin-top: 20px;
  background-color: #4caf50;
  color: white;
}

#logoutBtn {
  background-color: #f44336;
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: #1e1e1e;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #ddd;
  width: 80%;
  max-width: 600px;
  color: #1e1e1e;
}

.edit-btn {
  color: #ddd;
}

.delete-btn {
  color: #ddd;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #e0e0e0;
  }

  header,
  footer {
    background-color: #1e1e1e;
    color: #e0e0e0;
  }

  input {
    background-color: #333;
    color: #e0e0e0;
    border-color: #555;
  }

  input[type="text"]:focus {
    border-color: #777;
  }

  table {
    background-color: #1e1e1e;
    color: #e0e0e0;
  }

  #routesTable th {
    background-color: #333;
  }

  #routesTable tr:nth-child(even) {
    background-color: #2c2c2c;
  }

  #routesTable tr:hover {
    background-color: #3d3d3d;
  }

  .card {
    background-color: #1e1e1e;
    border-color: #333;
    box-shadow: none;
  }
  .card-header {
    color: #ddd;
  }
  .edit-btn {
    background-color: #4caf50;
    color: white;
  }
  .delete-btn {
    background-color: #f44336;
    color: white;
  }
}
